{% extends "layout.njk" %}
{% block content %}

  {{nav.active('home')}}

  <section class="banner-section" id="home-page">
    <div class="banner__container">
        {# <div class="banner__img" id="banner-img"></div> #}
        <video playsinline autoplay muted loop class="banner__vid">
          <source src="videos/ocean.mp4" type="video/mp4">
        </video>
        <div class="banner__title">
          <div class="banner__cover"></div>
          <span>Vento Azzurro</span>
        </div>
    </div>
  </section>

  <section class="abstracts">
      <div class="abstracts__title">
        Abstratti
      </div>
      <div class="abstract model-1">
        <div class="clip clip1" id="clip1-image">
            <h2 class="clip-title">Amore</h2>
            <div class="hover-card">
                <h2 class="hover-card-title">Amore</h2>
                <p class="hover-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <div class="expansion-content">
                    <div class="close-btn">
                        <span></span>
                        <span></span>
                    </div>
                    <h1>Policy</h1>
                    <p>
                        The world is ever changing. But how can change be brought about effectively? How can certain aims be realised? Public Policies and Institutions are the tools we can use to make the world a better place. Oxenu contributes to this end - from problem assessment via strategic planning to the formulation of solutions for implementation.
                    </p>
                    <h3>Public Policy and Institutions</h3>
                    <p>
                        Oxenu offers solutions for the entire policy process. The first step towards improving our lives is to understand how the world works: Our team of scientists and practitioners is highly experienced in providing problem assessment analyses. Changing the world also requires a deeper understanding of how both public and private actors can influence the political process. We develop individual solutions based on the particular context and needs. Scientific analyses sometimes leave NGOs and governmental actors with little more than abstract conclusions. We at Oxenu value a holistic approach: what we offer is comprehensive services, while always keeping the next step in mind to help you achieve your goals.
                    </p>
                    <img src="/images/bg-caio.jpg"></img>
                    <h3>Human Rights</h3>
                    <p>
                        Human rights and international law have become indispensable aspects of any public or private project. But well beyond the public sphere, compliance with international human rights standards is key for corporations in the 21st century. Apart from allowing entrepreneurs to fulfill their responsibilities, it allows companies to enhance their reputation and create amiable relations to both the public sector as well as the general public. Building on substantial expertise is the fields of human rights research and public sector consulting, Oxenu offers tailored solutions for strategic decisions in compliance with international human rights law for both private and public clients, whether governmental or not.
                    </p>
                    <h3>Political Risk and Legal Framework Analysis</h3>
                    <p>
                        Political risk such as armed conflicts or climate change-related dangers are a significant threat to private sector activities as well as to the work of non-governmental actors. Building on extensive academic expertise in the field of conflict research, we offer tailored predictions about risk factors in different countries providing empirical evidence for complex investment decisions. In addition, our team of experienced lawyers analyses the legal framework in host countries of non-governmental activities.
                    </p>
                </div>
            </div>
            
        </div>

        <div class="clip clip2" id="clip2-image">
            <h2 class="clip-title">Curiosita</h2>
            <div class="hover-card">
                <h2 class="hover-card-title">Curiosita</h2>
                <p class="hover-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <div class="expansion-content">
                    <div class="close-btn">
                        <span></span>
                        <span></span>
                    </div>
                    <h1>Policy</h1>
                    <p>
                        The world is ever changing. But how can change be brought about effectively? How can certain aims be realised? Public Policies and Institutions are the tools we can use to make the world a better place. Oxenu contributes to this end - from problem assessment via strategic planning to the formulation of solutions for implementation.
                    </p>
                    <h3>Public Policy and Institutions</h3>
                    <p>
                        Oxenu offers solutions for the entire policy process. The first step towards improving our lives is to understand how the world works: Our team of scientists and practitioners is highly experienced in providing problem assessment analyses. Changing the world also requires a deeper understanding of how both public and private actors can influence the political process. We develop individual solutions based on the particular context and needs. Scientific analyses sometimes leave NGOs and governmental actors with little more than abstract conclusions. We at Oxenu value a holistic approach: what we offer is comprehensive services, while always keeping the next step in mind to help you achieve your goals.
                    </p>
                    <img src="/images/bg-caio.jpg"></img>
                    <h3>Human Rights</h3>
                    <p>
                        Human rights and international law have become indispensable aspects of any public or private project. But well beyond the public sphere, compliance with international human rights standards is key for corporations in the 21st century. Apart from allowing entrepreneurs to fulfill their responsibilities, it allows companies to enhance their reputation and create amiable relations to both the public sector as well as the general public. Building on substantial expertise is the fields of human rights research and public sector consulting, Oxenu offers tailored solutions for strategic decisions in compliance with international human rights law for both private and public clients, whether governmental or not.
                    </p>
                    <h3>Political Risk and Legal Framework Analysis</h3>
                    <p>
                        Political risk such as armed conflicts or climate change-related dangers are a significant threat to private sector activities as well as to the work of non-governmental actors. Building on extensive academic expertise in the field of conflict research, we offer tailored predictions about risk factors in different countries providing empirical evidence for complex investment decisions. In addition, our team of experienced lawyers analyses the legal framework in host countries of non-governmental activities.
                    </p>
                </div>
            </div>
        </div>

        <div class="clip clip3" id="clip3-image">
            <h2 class="clip-title">Benessere</h2>
            <div class="hover-card">
                <h2 class="hover-card-title">Benessere</h2>
                <p class="hover-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <div class="expansion-content">
                    <div class="close-btn">
                        <span></span>
                        <span></span>
                    </div>
                    <h1>Policy</h1>
                    <p>
                        The world is ever changing. But how can change be brought about effectively? How can certain aims be realised? Public Policies and Institutions are the tools we can use to make the world a better place. Oxenu contributes to this end - from problem assessment via strategic planning to the formulation of solutions for implementation.
                    </p>
                    <h3>Public Policy and Institutions</h3>
                    <p>
                        Oxenu offers solutions for the entire policy process. The first step towards improving our lives is to understand how the world works: Our team of scientists and practitioners is highly experienced in providing problem assessment analyses. Changing the world also requires a deeper understanding of how both public and private actors can influence the political process. We develop individual solutions based on the particular context and needs. Scientific analyses sometimes leave NGOs and governmental actors with little more than abstract conclusions. We at Oxenu value a holistic approach: what we offer is comprehensive services, while always keeping the next step in mind to help you achieve your goals.
                    </p>
                    <img src="/images/bg-caio.jpg"></img>
                    <h3>Human Rights</h3>
                    <p>
                        Human rights and international law have become indispensable aspects of any public or private project. But well beyond the public sphere, compliance with international human rights standards is key for corporations in the 21st century. Apart from allowing entrepreneurs to fulfill their responsibilities, it allows companies to enhance their reputation and create amiable relations to both the public sector as well as the general public. Building on substantial expertise is the fields of human rights research and public sector consulting, Oxenu offers tailored solutions for strategic decisions in compliance with international human rights law for both private and public clients, whether governmental or not.
                    </p>
                    <h3>Political Risk and Legal Framework Analysis</h3>
                    <p>
                        Political risk such as armed conflicts or climate change-related dangers are a significant threat to private sector activities as well as to the work of non-governmental actors. Building on extensive academic expertise in the field of conflict research, we offer tailored predictions about risk factors in different countries providing empirical evidence for complex investment decisions. In addition, our team of experienced lawyers analyses the legal framework in host countries of non-governmental activities.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="abstract model-1">

        <div class="clip clip5" id="clip5-image">
            <h2 class="clip-title">Giustizia</h2>
            <div class="hover-card">
                <h2 class="hover-card-title">Giustizia</h2>
                <p class="hover-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <div class="expansion-content">
                    <div class="close-btn">
                        <span></span>
                        <span></span>
                    </div>
                    <h1>Policy</h1>
                    <p>
                        The world is ever changing. But how can change be brought about effectively? How can certain aims be realised? Public Policies and Institutions are the tools we can use to make the world a better place. Oxenu contributes to this end - from problem assessment via strategic planning to the formulation of solutions for implementation.
                    </p>
                    <h3>Public Policy and Institutions</h3>
                    <p>
                        Oxenu offers solutions for the entire policy process. The first step towards improving our lives is to understand how the world works: Our team of scientists and practitioners is highly experienced in providing problem assessment analyses. Changing the world also requires a deeper understanding of how both public and private actors can influence the political process. We develop individual solutions based on the particular context and needs. Scientific analyses sometimes leave NGOs and governmental actors with little more than abstract conclusions. We at Oxenu value a holistic approach: what we offer is comprehensive services, while always keeping the next step in mind to help you achieve your goals.
                    </p>
                    <img src="/images/bg-caio.jpg"></img>
                    <h3>Human Rights</h3>
                    <p>
                        Human rights and international law have become indispensable aspects of any public or private project. But well beyond the public sphere, compliance with international human rights standards is key for corporations in the 21st century. Apart from allowing entrepreneurs to fulfill their responsibilities, it allows companies to enhance their reputation and create amiable relations to both the public sector as well as the general public. Building on substantial expertise is the fields of human rights research and public sector consulting, Oxenu offers tailored solutions for strategic decisions in compliance with international human rights law for both private and public clients, whether governmental or not.
                    </p>
                    <h3>Political Risk and Legal Framework Analysis</h3>
                    <p>
                        Political risk such as armed conflicts or climate change-related dangers are a significant threat to private sector activities as well as to the work of non-governmental actors. Building on extensive academic expertise in the field of conflict research, we offer tailored predictions about risk factors in different countries providing empirical evidence for complex investment decisions. In addition, our team of experienced lawyers analyses the legal framework in host countries of non-governmental activities.
                    </p>
                </div>
            </div>
        </div>

        <div class="clip clip6" id="clip6-image">
            <h2 class="clip-title">Piacere</h2>
            <div class="hover-card">
                <h2 class="hover-card-title">Piacere</h2>
                <p class="hover-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <div class="expansion-content">
                    <div class="close-btn">
                        <span></span>
                        <span></span>
                    </div>
                    <h1>Policy</h1>
                    <p>
                        The world is ever changing. But how can change be brought about effectively? How can certain aims be realised? Public Policies and Institutions are the tools we can use to make the world a better place. Oxenu contributes to this end - from problem assessment via strategic planning to the formulation of solutions for implementation.
                    </p>
                    <h3>Public Policy and Institutions</h3>
                    <p>
                        Oxenu offers solutions for the entire policy process. The first step towards improving our lives is to understand how the world works: Our team of scientists and practitioners is highly experienced in providing problem assessment analyses. Changing the world also requires a deeper understanding of how both public and private actors can influence the political process. We develop individual solutions based on the particular context and needs. Scientific analyses sometimes leave NGOs and governmental actors with little more than abstract conclusions. We at Oxenu value a holistic approach: what we offer is comprehensive services, while always keeping the next step in mind to help you achieve your goals.
                    </p>
                    <img src="/images/bg-caio.jpg"></img>
                    <h3>Human Rights</h3>
                    <p>
                        Human rights and international law have become indispensable aspects of any public or private project. But well beyond the public sphere, compliance with international human rights standards is key for corporations in the 21st century. Apart from allowing entrepreneurs to fulfill their responsibilities, it allows companies to enhance their reputation and create amiable relations to both the public sector as well as the general public. Building on substantial expertise is the fields of human rights research and public sector consulting, Oxenu offers tailored solutions for strategic decisions in compliance with international human rights law for both private and public clients, whether governmental or not.
                    </p>
                    <h3>Political Risk and Legal Framework Analysis</h3>
                    <p>
                        Political risk such as armed conflicts or climate change-related dangers are a significant threat to private sector activities as well as to the work of non-governmental actors. Building on extensive academic expertise in the field of conflict research, we offer tailored predictions about risk factors in different countries providing empirical evidence for complex investment decisions. In addition, our team of experienced lawyers analyses the legal framework in host countries of non-governmental activities.
                    </p>
                </div>
            </div>
        </div>

        <div class="clip clip7" id="clip7-image">
            <h2 class="clip-title">Felicita</h2>
            <div class="hover-card">
                <h2 class="hover-card-title">Felicita</h2>
                <p class="hover-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.s</p>
                <div class="expansion-content">
                    <div class="close-btn">
                        <span></span>
                        <span></span>
                    </div>
                    <h1>Policy</h1>
                    <p>
                        The world is ever changing. But how can change be brought about effectively? How can certain aims be realised? Public Policies and Institutions are the tools we can use to make the world a better place. Oxenu contributes to this end - from problem assessment via strategic planning to the formulation of solutions for implementation.
                    </p>
                    <h3>Public Policy and Institutions</h3>
                    <p>
                        Oxenu offers solutions for the entire policy process. The first step towards improving our lives is to understand how the world works: Our team of scientists and practitioners is highly experienced in providing problem assessment analyses. Changing the world also requires a deeper understanding of how both public and private actors can influence the political process. We develop individual solutions based on the particular context and needs. Scientific analyses sometimes leave NGOs and governmental actors with little more than abstract conclusions. We at Oxenu value a holistic approach: what we offer is comprehensive services, while always keeping the next step in mind to help you achieve your goals.
                    </p>
                    <img src="/images/bg-caio.jpg"></img>
                    <h3>Human Rights</h3>
                    <p>
                        Human rights and international law have become indispensable aspects of any public or private project. But well beyond the public sphere, compliance with international human rights standards is key for corporations in the 21st century. Apart from allowing entrepreneurs to fulfill their responsibilities, it allows companies to enhance their reputation and create amiable relations to both the public sector as well as the general public. Building on substantial expertise is the fields of human rights research and public sector consulting, Oxenu offers tailored solutions for strategic decisions in compliance with international human rights law for both private and public clients, whether governmental or not.
                    </p>
                    <h3>Political Risk and Legal Framework Analysis</h3>
                    <p>
                        Political risk such as armed conflicts or climate change-related dangers are a significant threat to private sector activities as well as to the work of non-governmental actors. Building on extensive academic expertise in the field of conflict research, we offer tailored predictions about risk factors in different countries providing empirical evidence for complex investment decisions. In addition, our team of experienced lawyers analyses the legal framework in host countries of non-governmental activities.
                    </p>
                </div>
            </div>
        </div>
  </section>

  <section class="projects">
    <div class="projects__title">Progetti</div>
    <div class="projects_container">

      <div class="project">
        <div class="project-card">
          <div class="project-card-image" id="project-card-image-1"></div>
          <div class="mask">
            <span> Leggi di piu </span>
          </div>
          <div class="project-card-text">
            <div class="project-bio">
              <div class="project-card-name">Carozzeria blabla</div>
            </div>
          </div>
        </div>
        <div class="overlay"></div>
        <div class="project-content">
          <div class="project-content-image" id="project-content-image-1"></div>
          <div class="project-content-text">
            <h2 class="project-content-title">Meet Kenny</h2>
            <div class="project-content-description">
              <p>Kenneth holds an undergraduate degree in political science and economics from the University of Mannheim, which included an academic exchange to Singapore, with an emphasis on political economy, foreign aid and regional integration. Moreover, he obtained a graduate degree with distinction in International Relations, focussing on political economy and quantitative methods, particularly on the dynamics of international trade and regional integration. Currently, he continues doctoral studies at the University of Oxford, writing a thesis on preference aggregation and international trade relations.</p>
              <p>Kenneth gained experience in consulting, working for international organisations and academic analyses. Over the past years, he worked for the United Nations Economic Commission for Europe, PricewaterhouseCoopers, the German Federal Foreign Office and the United Nations Development Programme as well as a non-governmental environmental organisation. Moreover, he volunteered for charities in Madagascar and Argentina and participated in an election observation mission to Eastern Ukraine in 2014.</p>
              <h3>Publications:</h3>
              <p><i>2019 Democracy without Demos? Why the EU won’t survive without truly European elections. The Oxford Lighthouse, 2019(1), 17-19.</i><p>
              <p><i>2018 For the World, for Me or for Us? The European Development Aid Regime. Central European Journal of International and Security Studies, 12(3), 128-165.</i></p>
              <p><i>2018 ¿Será efectiva la democratización de los gobernadores regionales en Chile? El Mostrador, Chile (with Simón Escoffier)</i></p>
              <p><i>2017 ASEAN Economic Community: Redefining the Concept of Regional Integration Georgetown Public Policy Review, 22(1)</i></p>
            </div>
          </div>
        </div>
      </div>

      <div class="project">
        <div class="project-card">
          <div class="project-card-image" id="project-card-image-2"></div>
          <div class="mask">
            <span> Leggi di piu </span>
          </div>
          <div class="project-card-text">
            <div class="project-bio">
              <div class="project-card-name">To mare</div>
            </div>
          </div>
        </div>
        <div class="overlay"></div>
        <div class="project-content">
          <div class="project-content-image" id="project-content-image-2"></div>
          <div class="project-content-text">
            <h2 class="project-content-title">Meet Godfred</h2>
            <div class="project-content-description">
              <p>Godfred Amankwaa is young water professional and researcher with deep interest in the intersection of innovation and basic service provision in developing countries particularly in Africa. He is currently a PhD Researcher at the University of Manchester and holds an MSc in Water Science, Policy and Management from Oxford University and a Bachelors (BA Honours) in Geography and Development from the Kwame Nkrumah University of Science and Technology, Ghana. Godfred is a member of many international organisations such as World Youth Parliament for Water, American Water Works Association (USA), Association for Geographic Information- UK and International Water Resources Association). As a Social/ Geographic data scientist, his research spans water and technology, environmental and/ or public health and has published in top journals like; Journal of Public Health (Springer), Elsevier and Journal of Water, Sanitation and Hygiene for Development</p>
              <h3>Selected publications:</h3>
              <p><i>Physicochemical and bacteriological quality of sachet water used by Ghanaian university students: implications for public health. Journal of Water, Sanitation and Hygiene for Development. https://doi.org/10.2166/washdev.2019.109.</i><p>
              <p><i>“In-school adolescents' knowledge, access to and use of sexual and reproductive health services in Metropolitan Kumasi, Ghana”. Journal of Public Health, 1-9. https://doi.org/10.1007/s10389-017-0893-1.</i></p>
              <p><i>Pregnant women’s perception and attitudes toward modern and traditional midwives and the perceptional impact on health seeking behaviour and status in rural Ghana. International Journal of Africa Nursing Sciences, 8, pp.66-74. https://doi.org/10.1016/j.ijans.2018.03.003</i></p>
              <p><i>Perceived synergy between deforestation and/or forest degradation and climate variability and change in the Ejisu-Juaben Municipality, Ghana. Environmental and Socio-economic Studies,: https://doi.org/10.1515/environ-2017-0019</i></p>
              <p><i>Complementary and alternative medicine in midwifery. Perception and utilisation of CAM among trained midwives in rural Ghana: A qualitative exploration. Evidence based Midwifery,15 (4), p135-142..</i></p>
            </div>
          </div>
        </div>
      </div>

      <div class="project">
        <div class="project-card">
          <div class="project-card-image" id="project-card-image-3"></div>
          <div class="mask">
            <span> Leggi di piu </span>
          </div>
          <div class="project-card-text">
            <div class="project-bio">
              <div class="project-card-name">Cia Cia</div>
            </div>
          </div>
        </div>
        <div class="overlay"></div>
        <div class="project-content">
          <div class="project-content-image" id="project-content-image-3"></div>
          <div class="project-content-text">
            <h2 class="project-content-title">Meet Chris</h2>
            <div class="project-content-description">
              <p>Chris is a young water professional, versatile writer and researcher, who is interested in a broad scope of themes. He holds two undergraduate degrees from the University of Munich in Biology and Economics and most recently graduated from an M.Sc. in Water Science, Policy and Management from the University of Oxford as the best in class. He has worked in various consulting positions around natural resource governance as well as energy and transport, including Ludwig-Bölkow-Systemtechnik, the National Institute of Water and Atmospheric Research and most recently the Rockefeller Foundation for Economic Development. He has focused on societal and cultural issues of resource governance, disease environment and inequality especially around WASH, IWRM and water as a whole.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

{% endblock %}
