{% macro active(activePage='home') %}

        <nav class="navigation-toggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul class="navigation">
                <div onclick="smoothScroll(document.getElementById('abstracts-section'))"><li>Abstracts</li></div>
                <div onclick="smoothScroll(document.getElementById('projects-section'))"><li>Portfolio</li></div>
                <div onclick="smoothScroll(document.getElementById('biography-section'))"><li>Biography</li></div>
                <div onclick="smoothScroll(document.getElementById('footer-section'))"><li>Contact</li></div>
            </ul>
        </nav>

{% endmacro %}